*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: url("../images/fireworks-6-usagif.gif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
#bg{
    background: linear-gradient(pink, cyan);
    width: 40%;
    height: 50%;
    text-align: center;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    /* background: black; */
    padding: 200px 150px;
    border-radius: 80px;
    
}
#bg #relogio{
    display: flex;
    align-items: center;
    justify-content: center;
}
#bg h1{
    display: flex;
    justify-content: center;
    font-size: 150%;
}
#relogio{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.relogio{
    background: linear-gradient(pink, cyan);
    width: 15%;
    height: 15%;
    margin-bottom: 20px;
    text-align: center;
    /* background: black; */
    border-radius: 80px;
    font-size: 50px;
    padding: 50px 110px;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    /* font-family: relogio; */
 

}

.ou{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black !important;
    padding: 0;
    margin: 0;
    color: white;
}
#relogio div{
    width: 800px;
    padding: 0px 6px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 120px;
    background-color: antiquewhite;
}
#relogio div span{
    width: 100%;
    height: 100%;
    font-size: 140%;
    font-family: relogio;
}
#relogio div h1{
    padding: 0px 5px;
    width: 200%;
    height: 100%;
    font-weight: bold;
    font-size: 80%;
}
@font-face{
    font-family: relogio;
    src: url("../font/fonteRelogio.TTF");
}
.title{
    color: White;
    position: relative;
    top: -100px;
}
